main {
  min-height: calc(100vh - 50px);
}

footer {
  height: 200px;
}

h1 {
  position: relative;
  color: white;
  min-width: 420px;
}

h1::before {
  content: "";
  border: 2px grey solid;
  width: 400px;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
}

.intro_site,
.slide_produit {
  color: #DACECE;
}

.intro_site h2,
.slide_produit h2 {
  position: relative;
  color: white;
  min-width: 420px;
}

.intro_site h2::before,
.slide_produit h2::before {
  content: "";
  border: 2px grey solid;
  width: 400px;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
}

#produit_add_h1::before,
#produit_detail_h1::before,
#produit_modifi_h1::before,
#utilisateur_search_h1::before,
#produit_search_h1::before,
#utilisateur_detail_h1::before,
#utilisateur_list_search_h1::before,
#inscription_h1::before {
  width: 500px;
}

#utilisateur_list_h1::before,
#utilisateur_modifi_infor_h1::before,
#utilisateur_modifi_password_h1::before {
  width: 620px;
}

#utilisateur_modifi_h1::before {
  width: 680px;
}

.inscription_form_box {
  color: #DACECE;
}

.inscription_list {
  min-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #DACECE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inscription_list .inscription_box {
  background-color: #fff;
}

.inscription_list .inscription_box #mdp_oublie {
  display: block;
  position: relative;
  left: 60px;
  color: #DACECE;
}

.inscription_list .btn {
  border: 2px solid #DACECE;
  border-radius: 18px;
  color: #DACECE;
}

.inscription_list .btn #mdp_oublie {
  position: relative;
  left: 70px;
}

@media screen and (max-width: 992px) {
  .inscription_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inscription_list .inscription_box {
    background-color: transparent;
  }
  .inscription_list .inscription_box #mdp_oublie {
    left: 120px;
  }
  .inscription_list .inscription_box .btn {
    border-radius: 18px;
    padding: 10px 70px;
    border-radius: 0;
  }
  .inscription_list .inscription_box .btn:hover {
    background-color: #fff;
    color: #DACECE;
  }
  .inscription_list .input_boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inscription_list .text-des {
    text-align: center;
  }
}

.card_produit {
  color: #DACECE;
}

.card_produit .produit_box {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card_produit .produit_box .btn {
  background-color: #885c7e;
  color: #DACECE;
  margin-top: 20px;
}

.produit_add_box,
.produit_modifi_box,
.utilisateur_modifi_box {
  color: #DACECE;
}

.produit_add_box .btn, .produit_add_box a,
.produit_modifi_box .btn,
.produit_modifi_box a,
.utilisateur_modifi_box .btn,
.utilisateur_modifi_box a {
  background-color: #885c7e;
  color: #DACECE;
  outline: none;
}

.utilisateur_searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .utilisateur_searchForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .utilisateur_searchForm .search_button {
    margin: 30px auto;
  }
}

.button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.produit_list_box {
  color: #DACECE;
}

.produit_list_box .btn_detail {
  background-color: #885c7e;
  color: #fff;
  margin-top: 20px;
}

.btn_ajouter {
  background-color: #885c7e;
  color: #fff;
  margin-top: 20px;
}

.container_modifi {
  position: relative;
  top: 25%;
}

.container_modifi h5 {
  color: #DACECE;
}

.container_modifi .btn {
  background-color: #885c7e;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */