//Pour le footer
main{
    min-height: calc(100vh - 50px);
}
footer{
    height: 200px;
}

//Pour layout.html
h1{
    position: relative;
    color: white;
    min-width: 420px;
}
h1::before{
    content: "";
    border: 2px grey solid;
    width: 400px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    

}


//Pour index.php
.intro_site, 
.slide_produit{
    color: #DACECE;
    h2{
        position: relative;
        color: white;
        min-width: 420px;
    }
    h2::before{
        content: "";
        border: 2px grey solid;
        width: 400px;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        
    
    }
}




//Pour le sous_ligne de titre
#produit_add_h1::before,
#produit_detail_h1::before,
#produit_modifi_h1::before,
#utilisateur_search_h1::before,
#produit_search_h1::before,
#utilisateur_detail_h1::before,
#utilisateur_list_search_h1::before,
#inscription_h1::before{
    width: 500px;
}
#utilisateur_list_h1::before,
#utilisateur_modifi_infor_h1::before,
#utilisateur_modifi_password_h1::before{
    width: 620px;
}
#utilisateur_modifi_h1::before{
    width: 680px;
}

//pour inscription.php
.inscription_form_box{
    color: #DACECE;
    
}


//Pour login.html
.inscription_list{
    min-width: 410px;
    display: flex;
    flex-direction: row;
    color: #DACECE;
    justify-content: center;
    .inscription_box{
        background-color: #fff;
       #mdp_oublie {
            display: block;
            position: relative;
            left: 60px;
            color: #DACECE;
       } 
        
    }
    .btn{
        border: 2px solid #DACECE ;
        border-radius: 18px;
        color: #DACECE;
        #mdp_oublie{
            position: relative;
            left:70px;
        }
    }
}
@media screen and (max-width: 992px) {
    .inscription_list{
        flex-direction: column;
        .inscription_box{
            background-color: transparent;
            #mdp_oublie {
                left: 120px;
           } 
           .btn{
            border-radius: 18px;
            padding: 10px 70px;
            border-radius: 0;
            }
            .btn:hover{
                background-color: #fff;
                color:#DACECE;
            }
        }
        .input_boxs{
            display: flex;
            flex-direction: column;
        }
        .text-des{
            text-align: center;
        }
    }
}


//Pour page_totaux_produits.html
.card_produit{
    color: #DACECE;
    .produit_box{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .btn{
        background-color: #885c7e;    
        color: #DACECE;
        margin-top: 20px;

    }
}
}

//Pour produit_add.php / produit_modifi.html / utilisateur_modifi_infor.html
.produit_add_box,
.produit_modifi_box,
.utilisateur_modifi_box{
    color:#DACECE;
    .btn,a{
        background-color: #885c7e;
        color: #DACECE;
        outline: none;
    }
}


//Pour utilisateur_list.html & utilisateur_search.html
.utilisateur_searchForm{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 768px) {
    .utilisateur_searchForm{
        flex-direction: column;
        .search_button{
            margin: 30px auto;
        }
    }
}

.button_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    
}









//Pour produit_list.html
.produit_list_box{
    color: #DACECE;
    .btn_detail{
        background-color: #885c7e;    
        color: #fff;
        margin-top: 20px;

    }
}
.btn_ajouter{
    background-color: #885c7e;    
    color: #fff;
    margin-top: 20px;
}


//Pour utilisateur_modifi.html
.container_modifi{
    position: relative;
    top: 25%;
    h5{
        color: #DACECE;  
    }
    .btn{
        background-color: #885c7e;    
        color: #fff;
        
    }
}


